.foto-perfil-maestro {
    height:100;
    width:100;
    border-radius: 50%;
}
.nombre-maestro, .nombre-materia {
    color: white;
    font-size: 16;
}
.nombre-maestro {
    font-weight: bold;
    font-size: 17;
}
.estado {
    color: white;
    font-size: 12;
    font-weight: bold;
}
ActionBar {
    background-color:  #17375e;
    color: white;
}
.circle {
    color:red;
    width: 30;
    height: 30;
}