<ActionBar title="Chat en línea" class="action-bar">
</ActionBar>

<ScrollView height="100%">
        <FlexboxLayout flexWrap="wrap" alignItems="center" justifyContent="space-around" class="">
                    <FlexboxLayout width="100%" *ngFor="let maestro of listaNombres" alignItems="center" justifyContent="space-around">
                            <StackLayout width="100%" height="130" class="text-center" horizontalAlignment="center" verticalAlignment="center">
                                    <FlexboxLayout height="130" width="100%" alignItems="center" justifyContent="center" [backgroundColor]="maestro.color" class="m-b-10" horizontalAlignment="center" verticalAlignment="center" [nsRouterLink]="['/chat', maestro.idChat, maestro.idCurso, maestro.nombres, maestro.apellidos, maestro.id]">

                                        <StackLayout orientation="horizontal" width="90%" horizontalAlignment="center" verticalAlignment="center">
                                                    <Image [src]="maestro.foto" class="foto-perfil-maestro" stretch="fill"></Image>
                                                    
                            
                                                    <FlexboxLayout flexDirection="column" width="70%" horizontalAlignment="center" verticalAlignment="center" class="">
                            
                                                        <Label text="{{ maestro.nombres + ' ' +maestro.apellidos}}" textWrap="true" class="nombre-maestro"></Label>
                            
                                                        <Label [text]="maestro.materia" textWrap="true" class="nombre-materia"></Label>

                                                        
                                                    </FlexboxLayout>
                                            
                                        </StackLayout>
                                        
                                    </FlexboxLayout>
                            </StackLayout>
                        
                    </FlexboxLayout>
        </FlexboxLayout>
</ScrollView>