ActionBar {
    color: white;
}

.btn-primary {
    background-color: #FF9100;
    border-radius: 5;
    font-size: 17;
    text-transform: capitalize;
    width: 65%;
}



  .input-wrap {
    margin-top: 5;
    border-color: gray;
    border-width: 1;
    border-radius: 10;
    padding: 0;
}

.input-descripcion {
    border-width: 1;
    border-radius: 2;
}
.p-0 {
    padding: 10 5 10 5;
}

.img-enviar-trabajo {
    width: 80%;
}