ActionBar {
    color: white;
}

.text-white label{
    font-size: 20;
}
.text-white {
    text-align: left;
    margin-top: 30;
}

.img-personaje {
    margin-top: 30;
    margin-left: 50;
    height: 350;
}

.img-personaje {
    height: 350;
}