<GridLayout rows="*, auto">
    <StackLayout row="0" orientation="vertical">
        <router-outlet></router-outlet>
    </StackLayout>
    <!--<BottomBar verticalAlignment="center" row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)" [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true">
        </BottomBar>-->
    <StackLayout row="1" orientation="horizontal" backgroundColor="#17375e" horizontalAligment="center" verticalAligment="center" height="55" color="white" class="p-t-5 menu">
        <StackLayout width="50%" horizontalAligment="center" verticalAligment="center" (tap)="irHome()">
            <Image [src]="icoMaterias" width="25" height="25"></Image>
            <Label text="Materias" textWrap="true" textAlignment="center" [color]="icoMateriasTint"></Label>            
        </StackLayout>
                    
        <StackLayout width="50%" horizontalAligment="center" verticalAligment="center" (tap)="irPerfil()">
            <Image [src]="icoPerfil" width="25" height="25"></Image>
            <Label text="Perfil" textWrap="true" textAlignment="center" [color]="icoPerfilTint"></Label>
        </StackLayout>

    </StackLayout>
            
</GridLayout>
