.perfil {
    height: 150;
    width:150;
    border-radius:75;
}
.perfil-txt {
    font-size: 18;
}
.estado {
    color: #f7bb43;
    font-size: 12;
    font-weight: bold;
}
ActionBar {
    background-color:  #17375e;
    color: white;
    padding: 0 0 0 0;
}
.btn-primary {
    margin: 25 10 10 5;
    background-color: #17375E;
    border-radius: 5;
    font-size: 12;
    width: 65%;
  }