.foto-perfil {
    width:37; height:37; border-radius:50%;
}
.nombre-representate {
    color: white;
    font-size: 15;
}
.estado {
    color: #f7bb43;
    font-size: 12;
    font-weight: bold;
}
ActionBar {
    background-color:  #17375e;
    color: white;
    padding: 0 0 0 0;
}

DockLayout {
    background-color: rgba(0, 0, 0, 0.85);
}

.text-white label{
    color:white;
    font-size: 20;
}
.text-white {
    text-align: left;
    margin-top: 30;
}

.img-personaje {
    margin-top: 30;
    margin-left: 50;
    height: 80%;
}

.btn-primary {
    background-color: #FF9100;
    border-radius: 5;
    text-transform: capitalize;
}