.foto-perfil {
    width:36; height:36; border-radius:50%;
}
.nombre-representate {
    color: white;
    font-size: 15;
}
.estado {
    color: #f7bb43;
    font-size: 12;
    font-weight: bold;
}
ActionBar {
    background-color:  #17375e;
    color: white;
}