.nombre-maestro {
    font-size: 18;
}
ActionBar {
    background-color:  #17375e;
    color: white;
}

.linea {
    border-bottom-width: 1;
    border-bottom-color: #17375e;
    border-bottom-style: solid;
}