<ActionBar [title]="curso.nombre" [backgroundColor]="curso.color" *ngIf="curso">
    <NavigationButton text="Go Back" ios.position="left" android.systemIcon="ic_menu_back" (tap)="regresar()"></NavigationButton>
</ActionBar>

    <GridLayout rows="auto, *, auto" class="form p-10">

        <button [text]="inClass? 'Marcar con faltas': 'Todos en clase'" (tap)="cambiarEstado()" [class]="inClass? 'falta': 'asistencia'"></button>

        <ListView [items]="listado" class="list-group" row="1">
            <ng-template let-r="item">
                <GridLayout class="list-group-item">
                    <CheckBox [(ngModel)]="r.asistencia" text="{{ r.nombres + ' '+ r.apellidos }}" fill="#17375e" fillColor="#17375e" fontSize="30" class="checkbox"></CheckBox>

                </GridLayout>
            </ng-template>
        </ListView>
        
        <Button row="2" text="Guardar lista" (tap)="guardarLista()" class="btn btn-primary"></Button>
        
        <ActivityIndicator rowSpan="1" row="0" [busy]="processing" width="50%"></ActivityIndicator>
            
    </GridLayout>