<FlexboxLayout class="page" #page>
	<StackLayout class="form">
        <Image class="logo" src="~/images/logo.png"></Image>
        <!--<Image src="res://icon"></Image>-->
        <!--<StackLayout orientation="horizontal" verticalAlignment="center">
                <Label class="header" text="EDU" verticalAlignment="middle"></Label>
                <Label class="home" text="HOME"></Label>
        </StackLayout>-->

		<GridLayout rows="auto, auto, auto">
			<StackLayout row="0" class="input-field">
				<TextField class="input input-eduhome" hint="Usuario" keyboardType="email" autocorrect="false" autocapitalizationType="none" [text]="user.email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
				<!--<StackLayout class="hr-light"></StackLayout>-->
			</StackLayout>

			<StackLayout row="1" class="input-field">
				<TextField #password class="input input-eduhome" hint="Contraseña" secure="true" [text]="user.password" (returnPress)="submit()"></TextField>
				<!--<StackLayout class="hr-light"></StackLayout>-->
			</StackLayout>

			<!--<StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
				<TextField #confirmPassword class="input" [isEnabled]="!processing" hint="Confirm password" secure="true" [(ngModel)]="user.confirmPassword" returnKeyType="done"></TextField>
				<StackLayout class="hr-light"></StackLayout>
			</StackLayout>-->

			<ActivityIndicator rowSpan="2" [busy]="processing"></ActivityIndicator>
        </GridLayout>
        
        <Button text="Iniciar Sesión" (tap)="submit()" class="btn btn-primary m-t-20" clearHistory="true"></Button>
		<!--<Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>-->
		<!--<Label *ngIf="isLoggingIn" text="Me gustaría ser parte" class="login-label" (tap)="forgotPassword()"></Label>-->
	</StackLayout>

	<!--<Label class="login-label sign-up-label" (tap)="toggleForm()">-->
	<Label class="login-label sign-up-label mensaje-eduhome">
		<FormattedString>
            <Span text="Un equipo asegura educación de calidad"></Span>
			<!--<Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>-->
			<!--<Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>-->
		</FormattedString>
	</Label>
</FlexboxLayout>
