ActionBar {
    color: white;
}

ListView {
    separator-color: white;
  }
  
  .msg {
      font-size: 14;
      padding: 5;
  }
  
  .me .msg_text {
      background-color: #30A9FF;
      color: white;
      padding: 8;
      border-radius: 5;
      
  }
  
  .them .msg_text {
      background-color: #e0e0e0;
      color: #333;
      padding: 8;
      border-radius: 5;
  }
  
  .authorimg {
      margin: 0 5 5 5;
      width: 30;
      height: 30;
      border-radius: 15;
  }
  
  .chatTextField {
      padding: 5; 
      background-color: lightgray; 
      border-radius: 4;
  }
  
  Button {
      padding: 5;
      background-color: dodgerblue;
      color: white;
      height: 40;
      border-radius: 5;
  }



.message-box {
    width: 100%;
    align-items: flex-end;
  
    .icon {
      padding: 5;
      flex-grow: 0;
      border-radius: 50%;
    }
  
    .text-area {
      flex-grow: 1;
      align-items: flex-end;
  
      .text-view {
        flex-grow: 1;
      }
    }
  }

  .messages-area {
    width: 100%;
  
    .messages {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 10 5 10;
  
      .message-bubble {
        margin: 10 15 2 0;
        padding: 0;
  
        &.myself {
          align-self: flex-end;
          margin-right: 0;
          margin-left: 15;
  
          .message-bubble-content {
            background-color: #dcf8c6;
          }
        }
  
        &.continuation {
          margin-top: 1;
        }
  
        .message-bubble-content {
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: flex-end;
          border-radius: 8;
          background-color: white;
  
          .message-text {
            color: #8D1B1B;
            font-size: 15;
            margin: 5;
          }
  
          .meta{
            align-self: flex-end;
            justify-content: flex-end;
            margin: 0 5 5 5;
  
            .time {
              font-size: 13;
              opacity: .7;
              margin-right: 5;
              &.ios {
                font-size: 11;
                opacity: .4;
              }
            }
  
            .check {
              font-size: 14;
              padding-top: 2;
              margin-left: -4;
  
              &.ios {
                opacity: .6;
              }
  
              &.blue {
                color: #52c5f7;
                &.ios {
                  color: #2F97F3;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .wallpaper {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaTZrE5rVUpmKJEIZlM4vq5np9HL6zVHOgxak8kjau6vHl0A6hEQ');
  }